<form [formGroup]="AddGuns">

  <h1>ADD Guns</h1>
  <div class="form-group">
    <fieldset>
      <label for="name">Name:</label>
      <input type="text" formControlName="Name">
      <label for="mail">FirearmType:</label>
      <input type="email" formControlName="FirearmType">
      <label for="text">ModifiedBy:</label>
      <input type="text" formControlName="ModifiedBy">
      <label for="text">ModifiedDate:</label>
      <input type="text" formControlName="ModifiedDate">
    </fieldset>
  </div>
  <button type="submit" (click)="ADDGuns(AddGuns)">Sign Up</button>
</form>